:root {
  --background: #1c1a29;
  --main: #6c61af;
  --secondary: 2F2C44;
  --white: #fff;
  --black: #000;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  background-color: var(--background);
}

a {
  color: var(--white);
  text-decoration: none;
}
